.content {
  background-color: #f6f7f9;
  padding: 150px 0 90px 0;


  @media (max-width: $tablet-width) {
    padding: 56px 0 20px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 50px 0 13px 0;
  }
}

.content h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  letter-spacing: -0.005em;
  color: #1f1f1f;
  width: 288px;
  margin: 0 auto 60px auto;
  text-align: center;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 1.71;
    margin: 0 auto 30px auto;
  }
}

.content__list {
  @include list-reset();
  width: 82%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 710px;

  @media (max-width: $mobile-width) {
    display: block;
    width: 100%;
    padding: 0 15px;
    text-align: center;
  }
}

.content__item {
  margin-bottom: 50px;

  @media (max-width: $mobile-width) {
    margin-bottom: 42px;
  }

  &--mountain {
    align-self: flex-end;

    @media (max-width: $tablet-width) {
      align-self: auto;
    }
  }
}

.content__item a {
  text-decoration: none;
  color: inherit;
}

.content__item img {
  position: relative;

  @media (max-width: $tablet-width) {
    width: 270px;
    height: 300px;
  }
}

.content__image {
  position: relative;
  margin: 0 0 16px 0;
  border-radius: 10px;

  @media (max-width: $mobile-width) {
    width: 270px;
    height: 300px;
    margin: 0 auto 20px auto;
  }
}

.content__image--road::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 180px;
  top: 156px;
  left: -60px;
  background-image: url("../img/Ellipse 1.svg");
  background-size: contain;

  @media (max-width: $tablet-width) {
    width: 127px;
    height: 127px;
    top: auto;
    bottom: -28px;
    left: -37px;
  }

  @media (max-width: $mobile-width) {
    left: -24px;
  }
}

.content__image--mountain::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 37px;
  top: -13px;
  left: -14px;
  background-image: url("../img/Rectangle 4.svg");
  z-index: 1;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.content__image--mountain::after {
  content: "";
  position: absolute;
  width: 47px;
  height: 47px;
  top: 542px;
  right: -18px;
  background-image: url("../img/Rectangle 3.svg");
  z-index: 1;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.content__image--children::before {
  content: "";
  position: absolute;
  width: 95px;
  height: 95px;
  top: -32px;
  right: -36px;
  background-image: url("../img/Ellipse 2.svg");
  z-index: 1;
  background-size: contain;

  @media (max-width: $tablet-width) {
    width: 68px;
    height: 68px;
    top: -20px;
    right: -25px;
  }

  @media (max-width: $mobile-width) {
    right: -15px;
  }
}

.content__item p {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.55;
  text-align: center;
  letter-spacing: -0.5px;
  color: #000000;
  margin: 0;
}
