.content {
  background-color: #f6f7f9;
  padding: 150px 0 97px 0;

  @media (max-width: $tablet-width) {
    padding: 50px 0 20px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 50px 0 10px 0;
  }
}

.content h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  letter-spacing: -0.005em;
  color: #1f1f1f;
  width: 288px;
  margin: 0 auto 60px auto;
  text-align: center;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 1.71;
    margin: 0 auto 30px auto;
  }
}

.content__list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  min-height: 681px;
  margin: 0 auto;

  @media (max-width: $mobile-width) {
    display: block;
    width: 100%;
    padding: 0 15px;
    text-align: center;
  }
}

.content__item {
  margin-bottom: 50px;

  @media (max-width: $mobile-width) {
    margin-bottom: 40px;
  }

  // &--road {
  //   &::before {
  //     content: "";
  //     position: absolute;
  //     width: 180px;
  //     height: 180px;
  //     top: 156px;
  //     left: -60px;
  //     background-image: url("../../img/Ellipse 1.svg");

  //     @media (max-width: $tablet-width) {
  //       width: 127px;
  //       height: 127px;
  //       top: 201px;
  //     }
  //   }
  // }

  &--mountain {
    align-self: flex-end;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   width: 37px;
    //   height: 37px;
    //   top: -13px;
    //   left: -14px;
    //   background-image: url("../../img/Rectangle 4.svg");
    //   z-index: 1;

    //   @media (max-width: $tablet-width) {
    //     display: none;
    //   }
    // }

    // &::after {
    //   content: "";
    //   position: absolute;
    //   width: 47px;
    //   height: 47px;
    //   top: 542px;
    //   right: -18px;
    //   background-image: url("../../img/Rectangle 3.svg");
    //   z-index: 1;

    //   @media (max-width: $tablet-width) {
    //     display: none;
    //   }
    // }

    @media (max-width: $tablet-width) {
      align-self: auto;
    }
  }

  // &--children {
  //   &::before {
  //     content: "";
  //     position: absolute;
  //     width: 95px;
  //     height: 95px;
  //     top: -32px;
  //     right: -36px;
  //     background-image: url("../../img/Ellipse 2.svg");
  //     z-index: 1;

  //     @media (max-width: $tablet-width) {
  //       width: 68px;
  //       height: 68px;
  //     }
  //   }
  // }
}

.content__item a {
  text-decoration: none;
  color: inherit;
}

.content__item img {
  position: relative;
  margin: 0 0 20px 0;
  border-radius: 10px;

  @media (max-width: $tablet-width) {
    width: 270px;
    height: 300px;
  }
}

.content__item--road img::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 180px;
  top: 156px;
  left: -60px;
  background-image: url("../../img/Ellipse 1.svg");

  @media (max-width: $tablet-width) {
    width: 127px;
    height: 127px;
    top: 201px;
  }
}

.content__item p {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.55;
  text-align: center;
  letter-spacing: -0.5px;
  color: #000000;
  margin: 0;
}
