.intro {
  @include wrapper();
  width: 885px;
  letter-spacing: -0.005em;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    display: block;
    width: 525px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 0 15px;
  }
}

.intro__info {
  width: 393px;
  padding-left: 10px;
  padding-top: 5px;

  @media (max-width: $tablet-width) {
    width: 525px;
    margin: 0 auto 150px auto;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-height: 200px;
    margin: 0 auto 140px auto;
  }
}

.intro__logo {
  margin-bottom: 26px;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 25px;
    left: 21px;
  }

  @media (max-width: $mobile-width) {
    position: absolute;
    top: 25px;
    left: 16px;
  }
}

.intro__info h1 {
  font-weight: bold;
  font-size: 46px;
  line-height: 1.39;
  margin: 0 0 24px 0;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 1.4;
    margin: 0 0 20px 0;
    text-align: center;
  }
}

.intro__info p {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6;
  color: #ffffff;
  opacity: 0.8;
  margin: 0;

  @media (max-width: $tablet-width) {
    max-width: 435px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.78;
  }
}

.intro__form {
  width: 327px;

  @media (max-width: $tablet-width) {
    width: 321px;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    display: flex;
  }
}

.intro__form fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

.intro__form legend {
  font-weight: 600;
  font-size: 17px;
  line-height: 1.65;
  text-align: center;
  letter-spacing: -0.005em;
  margin: 0 0 30px 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 1.56;
    color: #000000;
  }

  @media (max-width: $mobile-width) {
    margin: 0 0 20px 0;
  }
}

.intro__form input {
  background: #ffffff;
  border: 1px solid #c9ccd4;
  border-radius: 4px;
  padding: 12px 30px 10px 30px;
  min-width: 0;
  width: 100%;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    padding-left: 15px;
  }
}

.intro__form input::placeholder {
  font-size: 15px;
  line-height: 1.6;
  color: #1c1c1c;
  opacity: 0.5;
}

.intro__form button {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.4;
  padding: 15px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  background-color: $primary-color;
  border: none;
  border-radius: 6px;
  color: #000000;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    margin-top: 0;
  }
}

.intro__form button:active {
  outline: none;
}
