.page-header {
  position: relative;
  color: #ffffff;
  margin-bottom: 380px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 825px;
    top: 0;
    background-image: url("../../img/mainBike-desktop.jpg");
    background-repeat: no-repeat;
    z-index: -100;
    background-color: #131314;
    background-position: center 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/mainBike-desktop@2x.jpg");
      background-size: auto 825px;
    }

    @media (max-width: $tablet-width) {
      background-image: url("../../img/mainBike-tablet.jpg");
      height: 340px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/mainBike-tablet@2x.jpg");
        background-size: auto 340px;
      }
    }

    @media (max-width: $mobile-width) {
      background-image: url("../../img/mainBike-mobile.jpg");
      height: 390px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/mainBike-mobile@2x.jpg");
        background-size: auto 390px;
      }
    }
  }

  @media (max-width: $tablet-width) {
    padding-top: 134px;
    margin-bottom: 70px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 120px;
    margin-bottom: 71px;
  }
}

.page-header__toggle {
  display: none;

  @media (max-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: $primary-color;
    cursor: pointer;
  }
}
